banner__container {
    min-height: 400px;
}
}
nav a {
    font-family: inherit;
}
nav sub {
    font-family: cursive;
    font-size: 16px;
}
.logomax {
    height: 64px;
}
.portrait {
    width: 86%;
    background-image: url(portrait.png);
}
.parallax-container .parallax img {
/*    bottom: 80px;*/
}
.parallax-container .contact img  {
    bottom: -43px;
}
.first__paralax {
    margin-bottom: 0;
}
textarea.materialize-textarea {
    padding: 0;
}
.row .col .consult__order {
    margin: 15px auto;
    float: inherit;
}
.el__logo {
    width: 100%;
    margin-top: 6rem;
}
.section.no-pad-bot {
    position: absolute;
    bottom: 0;
}


@media only screen and (min-width: 0){
    .logomax {
    height: 54px;
    }
    h1 {
        font-size: 3.2rem;
    }
    nav .button-collapse {
        margin: 0 4px;
    }
}
@media only screen and (min-width: 601px){
    .logomax {
        height: 64px;
    }
    h1 {
        font-size: 4.2rem;
    }
        nav .button-collapse {
        margin: 0 18px;
    }

@media only screen and (max-width: 600px){
    .logomax {
        display: inherit;
    }
    }
    
@media only screen and (min-width: 601px){
    .logomax {
        display: none;
    }
    }
    @media only screen and (min-width: 993px) {
        .container {
            height: auto;
        }
}
